---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/style.css'
import '../styles/ejercicios.css'
---

<MainLayout>

	<h1>EJERCICIOS</h1>

    <div class="numero_ejercicios">
        <h3 class="a1"> <a href="https://abelalbala.github.io/M9_UF2_A01/"> Actividad 1 </a> </h3>
        <h3 class="a2"> <a href=""> Actividad 2 </a> </h3>
        <h3 class="a3"> <a href=""> Actividad 3 </a> </h3>
        <h3 class="a4"> <a href=""> Actividad 4 </a> </h3>
        <h3 class="a5"> <a href=""> Actividad 5 </a> </h3>
    </div>

</MainLayout>